nav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    background-color: burlywood;
    margin: 5px;
    padding: 10px 5px;
}
div{
    font-size: 1.5em;
    line-height: 30px;
    margin: 0px 10px;
}
div:nth-child(3){
    grid-column: 6;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 10px;
    margin: 5px;
}
section{
    font-size: 2em;
    background-color: yellowgreen;
    padding: 10px;
}
aside{
    font-size: 1em;
    margin: 5px 5px;
    padding: 10px;
    background-color: cadetblue;
}
footer{
    font-size: 1em;
    line-height: 50px;
    margin: 5px 5px;
    padding: 10px;
    background-color: burlywood;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

