main{
    margin: 3em;
    display: grid;
    grid-gap: 3em;
    grid-template-areas: 
        "about"
        "js";
}

#about{
    grid-area: about;
}

#js{
    grid-area: js;
}

section{
    display: grid;
    grid-template: 1fr 6fr 5fr/3fr 4fr;
}

section p, section a{
    font-size: 20px;
    color: grey;
    padding-right: 20px;
    padding-left: 20px;
}

.sectionHeader{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.sectionFooter{
    color: #00bbff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.sectionFooter:hover{
    text-decoration: underline;
}

img{
    grid-row: span 3/auto;
    width: 100%;
    border-radius: 50%;
    box-shadow: 16px 8px 20px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px){
    main{
        margin: 0;
    }

    section{
        grid-template: none;
        grid-template-rows: 1fr 3fr 1fr;
        text-align: center;
    }

    img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}