body{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    align-items: baseline;
}

header > h1{
    flex-grow: 4;
}

header > nav{
    flex-grow: 2;
}

main{
    margin: 3em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-areas: 
        "about"
        "js";
}

#about{
    grid-area: about;
}

#js{
    grid-area: js;
}

section{
    display: grid;
    grid-template: 1fr 5fr 1fr/3fr 4fr;
}

img{
    grid-row: span 3/auto;
    width: 100%;
    border-radius: 50%;
    box-shadow: 16px 8px 20px 0 rgba(0, 0, 0, 0.1);
}

footer{
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
}